<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Newsletter Contact!</title>
    <meta name="description" content="A cool thing to add contact for getting newsletter">
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
     <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
        <script src="https://unpkg.com/react@15/dist/react.js"></script>
        <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>

  </head>
  <body>
 
    <div id="react-app"></div>
    <script >
      //http://jamesknelson.com/learn-raw-react-no-jsx-flux-es6-webpack/
      // components
      // contact list component
      var ContactItem = React.createClass({
        propTypes: {
          id: React.PropTypes.string.isRequired,
          name: React.PropTypes.string.isRequired,
          email: React.PropTypes.string.isRequired,
          description: React.PropTypes.string,
        },

      render: function() {
        // I wrap mult-line return statements in parentheses to avoid the
        // inevitable bugs caused by forgetting that JavaScript will throw away
        // the final lines when possible. The parentheses are not strictly
        // necessary.
        return (
          React.createElement('li', {className: 'ContactItem'},
            React.createElement('a', {href: "#/contacts/"+this.props.id, className: 'ContactItem-name'}, this.props.name),
           // React.createElement('h2', {className: 'ContactItem-name'}, this.props.name),
            React.createElement('a', {className: 'ContactItem-email', href: 'mailto:'+this.props.email}, this.props.email),
            React.createElement('div',  {className: 'ContactItem-description'}, this.props.description)
          )
        )
      },
    })

    
    //contactform component

    
    var ContactForm = React.createClass({
      propTypes: {
        //contact: React.PropTypes.object.isRequired,
        value: React.PropTypes.object.isRequired,
        onChange: React.PropTypes.func.isRequired,
        onSubmit: React.PropTypes.func.isRequired,
      },
      onNameChange: function(e) {
        this.props.onChange(Object.assign({}, this.props.value, {name: e.target.value}));
      },

      onEmailChange: function(e) {
        this.props.onChange(Object.assign({}, this.props.value, {email: e.target.value}));
      },

      onDescriptionChange: function(e) {
        this.props.onChange(Object.assign({}, this.props.value, {description: e.target.value}));
      },

      onSubmit: function(e) {
        e.preventDefault();
        this.props.onSubmit();
      },
      
      componentDidUpdate: function(prevProps) {
        var value = this.props.value;
        var prevValue = prevProps.value;

        if (this.isMounted && value.errors && value.errors != prevValue.errors) {
          if (value.errors.name) {
            this.refs.name.focus();
          }
          else if (value.errors.email) {
            this.refs.email.focus();
          }
        }
      },
      
      render: function() {
        var errors = this.props.value.errors || {};

        // var oldContact = this.props.value;
        //var onChange = this.props.onChange;
        return (
         // React.createElement('form', {},
          React.createElement('form', {onSubmit: this.onSubmit, className: 'ContactForm', noValidate: true},
            React.createElement('input', {
                type: 'text',
                className: errors.name && 'ContactForm-error',
                placeholder: 'Name (required)',
                value: this.props.value.name,
                // onChange: function(e) {
                //             onChange(Object.assign({}, oldContact, {name: e.target.value}));
                //           },
                ref:'name',
                autoFocus: true,
                onChange: this.onNameChange,

            }),
            React.createElement('input', {
                type: 'email',
                className: errors.email && 'ContactForm-error',  
                placeholder: 'Email (required)',
                value: this.props.value.email,
                // onChange: function(e) {
                //            onChange(Object.assign({}, oldContact, {email: e.target.value}));
                //           },
                ref:'email',
                onChange: this.onEmailChange,
            }),
            React.createElement('textarea', {
                placeholder: 'Description',
                value: this.props.value.description,
                // onChange: function(e) {
                //            onChange(Object.assign({}, oldContact, {description: e.target.value}));
                //           },
                ref:'description',
                onChange: this.onDescriptionChange,
            }),
            React.createElement('button', {type: 'submit'}, "Add Contact")
            )
        )
      },
      
      
    })
                                //contact View Component
    var ContactsView = React.createClass({
      propTypes: {
        contacts: React.PropTypes.array.isRequired,
        newContact: React.PropTypes.object.isRequired,
        onChangeContact: React.PropTypes.func.isRequired,
        onSubmitContact: React.PropTypes.func.isRequired,
      },

      render: function() {
        var contactItemElements = this.props.contacts
          .filter(function(contact) { return contact.email })
          .map(function(contact) { return  React.createElement(ContactItem, Object.assign({}, contact, {id: contact.key})); });
//          React.createElement(ContactItem, contact) })

        return (
          React.createElement('div', {className: 'ContactView'},
          React.createElement('h1', {className: 'ContactView-title'}, "Contacts"),
          React.createElement('ul', {className: 'ContactView-list'}, contactItemElements),
          // React.createElement(ContactForm, {contact: this.props.newContact})
          // React.createElement(ContactForm, {
          //                                   value: this.props.newContact,
          //                                   onChange: function(contact) { console.log(contact) },
          // }) 
          React.createElement(ContactForm, {
                                              value: this.props.newContact,
                                              onChange: this.props.onChangeContact,
                                              onSubmit: this.props.onSubmitContact,
                              })                    
          )
        )
      },
    })
    
    var ContactView = React.createClass({
      propTypes: {
        contacts: React.PropTypes.array.isRequired,
        id: React.PropTypes.string.isRequired,
      },

      render: function() {
        var key = this.props.id;
        var contactForm = this.props.contacts.filter(function(contact) { return contact.key == key })[0];

        return (
          !contactForm
            ? React.createElement('h1', {}, "Not Found")
            : React.createElement('div', {className: 'ContactView'},
                React.createElement('h1', {className: 'ContactView-title'}, "Edit Contact"),
                React.createElement(ContactForm, {
                  value: contactForm,
                  onChange: function(){},
                  onSubmit: function(){},
                })
              )
        )
      },
    });
    /*
     * Constants
     */


    var CONTACT_TEMPLATE = {name: "", email: "", description: "", errors: null};
    
    /*
     * Actions 
     */

    function updateNewContact(contact) {
      setState({ newContact: contact });
    }

      
    function submitNewContact() {
      var contact = Object.assign({}, state.newContact, {key: state.contacts.length + 1, errors: {}});
      if (!contact.name) {
        contact.errors.name = ["Please enter your new contact's name"];
      }
      if (!/.+@.+\..+/.test(contact.email)) {
        contact.errors.email = ["Please enter your new contact's email"];
      }
      //if (contact.name && contact.email) {
      setState(
        Object.keys(contact.errors).length === 0
        ? {
              newContact: Object.assign({}, CONTACT_TEMPLATE),
              contacts: state.contacts.slice(0).concat(contact),
           }
        : { newContact: contact }
      );
    }
    //}
      
    /* function navigated() {
      // Choose which component to render based on browser URL
      var component = window.location.hash == "#/"
        ? React.createElement('div', {}, "Index Page")
        : React.createElement('div', {}, "Not Found")

      // Render the new component to the page's #react-app element
      ReactDOM.render(
        component,
        document.getElementById('react-app')
      );
    }*/
      

    function navigated() {
      setState({  
        location: window.location.hash.replace(/^#\/?|\/$/g, '').split('/')
      });
    }
    /*
     * Model
     */
  
    // The app's complete current state
    var state = {};

    // Make the given changes to the state and perform any required housekeeping
    function setState(changes) {
      var component;
      Object.assign(state, changes);
      switch (state.location[0]) {
        case 'contacts':
          if (state.location[1]) {
            component = React.createElement(ContactView, Object.assign({}, state, {id: state.location[1]}));
          }
          else {
            component = React.createElement(ContactsView, Object.assign({}, state, {
              onChangeContact: updateNewContact,
              onSubmitContact: submitNewContact,
            }));        
          }
          break;
          // switch (state.location) {
          //   case '#/contacts':
          //     component = React.createElement(ContactsView, Object.assign({}, state, {
          //         onNewContactChange: updateNewContact,
          //         onNewContactSubmit: submitNewContact,
          //       }));
          //     break;
        default:
          component = React.createElement('div', {}, 
            React.createElement('h1', {}, "Not Found"),
            React.createElement('a', {href: '#/contacts'}, "Contacts")
          );
      }                
      ReactDOM.render( component, document.getElementById('react-app'));
    }

    // Set initial data
    setState({
      contacts: [
        {key: 1, name: "James K Nelson", email: "james@jamesknelson.com", description: "Front-end Unicorn"},
        {key: 2, name: "Jim", email: "jim@example.com"},
      ],
        newContact: Object.assign({}, CONTACT_TEMPLATE),
        location : window.location.hash 
    });


    // Handle browser navigation events
    window.addEventListener('hashchange', navigated, false);

    // Start the app
    navigated();


    /*
     * Data
     */

    /*  var contacts = [
      {key: 1, name: "James K Nelson", email: "james@jamesknelson.com", description: "Front-end Unicorn"},
      {key: 2, name: "Jim", email: "jim@example.com"},
      {key: 3, name: "Joe"},
    ]

    var newContact = {name: "", email: "", description: ""}
    */

    /*
     * Entry point
     */

/*    ReactDOM.render(
      React.createElement(ContactView, {
        contacts: contacts,
        newContact: newContact
      }),
      document.getElementById('react-app')
    )*/

    // var rootElement =
    //   React.createElement('div', {}, 
    //   React.createElement('h1', {}, "Contacts"),
    //   React.createElement('ul', {}, contactItemElements),
    //   React.createElement(ContactForm, {contact: newContact})                  
    // )

   // ReactDOM.render(rootElement, document.getElementById('react-app'))
    
    </script>
  
  </body>
</html>
