<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Newsletter Contact!</title>
    <meta name="description" content="A cool thing to add contact for getting newsletter">
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/style.css">
   <!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
    crossorigin="anonymous" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
-->  
</head>
  <body>
 
    <div id="react-app"></div>
    <!--
    <script src="components/ContactItem.js"></script>
    <script src="components/ContactForm.js"></script>
    <script src="components/ContactView.js"></script>
    <script src="components/ContactsView.js"></script>
    <script src="components/NotFoundView.js"></script>
    <script src="components/Application.js"></script>

    <script src="actions/contact.js"></script>
    <script src="actions/navigation.js"></script>
  
    <script src="main.js"></script> hI HELPER pLEASE LET ME KNOW WHY NOT ABLE TO MAKE BUNDLE.JS-->
     <script src="/js/bundle.js"></script>
  
  </body>
</html>
